*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
@media only screen and (max-width: 600px){
    div.a{
        max-width: 180px;
    }
}
@media only screen and (max-width:360px){
    nav{
        max-width: 240px;
    }
    h1.title{
        font-size: 48px;
    }
}
div.a{
    background-color: rgb(255, 255, 255);
    height: 6px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}
h1.title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-family: 'Barlow', sans-serif;
}
h3.title{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 200;
    font-family: 'Barlow', sans-serif;
}
header{
    text-align: center;
    background-color: #334195;
    height: 240px;
    border-bottom: 3px solid #45F0DF;
    box-shadow: 0 0 1em rgb(44 44 44 / 65%)
}
nav{
    margin-top: 16px;
    width: 320px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(127, 187, 255);
    border-top: 4px solid #45F0DF;
    border-left: 4px solid #45F0DF;
    border-right: 4px solid #45F0DF;
    border-radius: 12px;
    border-bottom: 4px solid #45F0DF;
}
nav:hover{
    margin-top: 16px;
    width: 320px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(127, 187, 255);
    border-top: 4px solid #45F0DF;
    border-left: 4px solid #45F0DF;
    border-right: 4px solid #45F0DF;
    border-radius: 12px;
    border-bottom: 4px solid #45F0DF;
}
.materias{
    justify-content: center;
    align-items: center;
    text-align: center;
}
section{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/humanas.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section.section2{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/natureza.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section.section3{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/linguagens.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section.section4{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/matematica.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section.section5{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/modulointegrador.png);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section.section6{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/ativ.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}

section.section7{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 24px;
    height: 220px;
    width: 320px;
    background-image: url(img/F.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: 6px 6px 24px .2px rgba(0, 0, 0 , 0.309);
}
section:hover{
    box-shadow: 6px 6px 24px .5px rgba(0, 255, 0, 0.486);
    border: 3px solid rgb(3, 146, 3);
    transition: .5s;
}
h2#titleS{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    font-family: 'Barlow', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h2#titleS:visited{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#img{
    background-image: url(./img/github.png);
    background-size: cover;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    margin-top: -107px;
    width: 120px;
    height: 120px;
    border-right: 3px solid #45F0DF;
}
.texto-lateral{
    color: rgba(112, 110, 110, 0.541);
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
    margin-left: 200px;
    
    width: 100px;
}
#cardIndexTxt{
    font-weight: 700;
    margin-left: 90px;
}
#cardIndex{
    text-align: center;
    margin-top: 36px;
    color: rgb(0, 0, 0);
    width:320px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(112, 110, 110);
    border-radius: 24px;
    box-shadow: 6px 4px 32px .2em rgba(112, 110, 110, 0.301);
}
#cardIndex:hover{
    box-shadow: 6px 4px 32px .2em rgba(3, 39, 94, 0.623);
    transition: .7s;
    border: 2px solid rgb(0, 0, 0);
}
#active{
    text-decoration: underline rgb(255, 153, 0);   
}
#img1{
    background-image: url(./img/linkedin.png);
    background-size: cover;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    margin-top: -107px;
    width: 120px;
    height: 120px;
    border-right: 3px solid #45F0DF;
}

.linkcard{
    color: #334195;
}
.linkcard:visited{
    color: #334195;
}
.linkcard:hover{
    color: rgb(255, 153, 0);
    transition: .3s;
}

.textoCard{
    margin-left: 100px;
}

a.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    margin-right: 4px;
}
a.link:hover{
    color:  #334195;
    cursor: pointer;
    text-decoration: underline;
    transition: .5s;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #334195;
    border-top: 2px solid #45F0DF ;
}

.main{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.main p{
    text-align: justify;
}

.sobre-mim{
    max-width: 30%;
}